* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Gilroy";
	src: url("/Fonts/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "GilroyBold";
	src: url("/Fonts/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "GilroyExtraBold";
	src: url("/Fonts/Gilroy-ExtraBold.ttf") format("truetype");
}
@font-face {
	font-family: "GilroyLight";
	src: url("/Fonts/Gilroy-Light.ttf") format("truetype");
}

:root {
	font-size: 10px;

	--backgound-color: #c4ecfc;
	--border-color: #707070;
	--main-color: #00a8f0;
}

body {
	font-family: "Gilroy", sans-serif;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

.container {
	width: 1650px;
	margin: 0 auto;
}

/* BUTTONS */

.btn {
	padding: 0;
	border: none;
	background-color: transparent;
}

.btn-arrow {
	position: absolute;
	width: 70px;
	height: 70px;
	transition: background-image 0.2s linear;
	z-index: 2;
}

.arrow-left {
	background-image: url("/img/alo.png");
}
.arrow-left:hover {
	background-image: url("/img/alm.png");
}
.arrow-right {
	background-image: url("/img/alj.png");
}
.arrow-right:hover {
	background-image: url("/img/alh.png");
}

.bg-right {
	position: absolute;
	top: 2662px;
	left: 0;
	width: 2390px;
	height: 2300px;
	background-color: var(--backgound-color);
	clip-path: circle(50% at 96% 50%);
	z-index: -1;
}

.bg-right-second {
	position: absolute;
	width: 1400px;
	height: 1460px;
	top: 3483px;
	left: 1145px;
	border-radius: 47%;
	clip-path: none;
	background-color: var(--backgound-color);
	z-index: -1;
}

/* CIRCLES */

.circle {
	position: absolute;
	width: 376px;
	height: 376px;
	border-radius: 50%;
	background-image: url("data:image/svg+xml,%3csvg width='376' height='376' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='50%25' ry='50%25' stroke='white' stroke-width='5' stroke-dasharray='10, 10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
	background-size: 100% 100%;
}

.circle-black {
	width: 640px;
	height: 640px;
	background-image: url("data:image/svg+xml,%3csvg width='640' height='640' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='50%25' ry='50%25' stroke='black' stroke-width='5' stroke-dasharray='5,10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
}

.circle-blue-bg {
	position: absolute;
	background-color: var(--main-color);
	border-radius: 50%;
}

/* SIGNS */

.signs {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.sign__icon {
	width: 60px;
	opacity: 0.1;
}

/* SIGNS TOP LEFT */
.header__center__signs-left {
	top: 5px;
	left: 15px;
}

.sum {
	grid-column: 2/3;
	grid-row: 2/3;
}

.subtraction {
	grid-column: 3/4;
	grid-row: 1/2;
}

.multiplication {
	grid-column: 1/2;
	grid-row: 3/4;
}

.divide {
	grid-column: 3/4;
	grid-row: 3/4;
}

/* SIGNS TOP RIGHT */
.header__center__signs-right {
	top: 0;
	right: -45px;
}
.header__center__signs-right .sign__icon {
	width: 50px;
}

.header__center__signs-right .subtraction {
	grid-column: 3/4;
	grid-row: 3/4;
}

.header__center__signs-right .multiplication {
	grid-column: 3/4;
	grid-row: 1/2;
}

.header__center__signs-right .divide {
	grid-column: 1/1;
	grid-row: 1/1;
}

/* SIGNS RIGHT BOTTOM */
.header__center__signs-right-bottm {
	top: 760px;
	left: 1080px;
}
.header__center__signs-right-bottm .sign__icon {
	width: 45px;
}

.header__wrapper {
	position: relative;
	/* height: 2200px; */
	height: 1900px;
	overflow: hidden;
}

.header__wrapper::after {
	content: "";
	position: absolute;
	top: -309px;
	left: 50%;
	transform: translateX(-50%);
	width: 2105px;
	height: 2200px;
	background: var(--backgound-color);
	border-radius: 0 0 50% 50%;
	z-index: -1;
}

.header__circle-top {
	top: -64px;
	left: 1502px;
}
.header__circle-mid {
	top: 787px;
	left: 1166px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.header__circle-mid__text {
	font-family: GilroyExtraBold, serif;
	font-size: 6.5rem;
	text-align: center;
}

.header__circle-top-black {
	top: 212px;
	left: 330px;
	z-index: 2;
}

/* NAVIGATION */

.header__burger {
	display: none;
}
.header__nav {
	height: 183px;
	display: flex;
	align-items: center;
}

.header__nav__wrapper {
	width: 100%;
}

.header__nav__content {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.header__nav__list {
	display: flex;
	justify-content: flex-start;
	margin-left: -3.4rem;
}

.header__nav__link,
.header__nav__link-dropdown {
	min-width: max-content;
	padding: 0 3.4rem;
	font-size: 3rem;
	font-weight: 300;
	color: #000;
	text-decoration: none;
	font-family: GilroyLight;
}

.header__nav__link {
	padding-bottom: 20px;
}

.header__nav__link:nth-child(1) {
	position: relative;
	z-index: 5;
}

.header__nav__link-dropdown {
	display: block;
	padding: 0.5rem 0;
	font-size: 2rem;
	text-align: center;
}

/* DROPDOWN NAVIGATION */

.element-dropdown {
	position: relative;
}

.dropdown-list {
	display: none;
	position: absolute;
	top: 140%;
	left: 50%;
	transform: translateY(-30px) translateX(-50%);
	transform-origin: 0 0;
	opacity: 0;
	animation: dropdownRev 0.3s forwards;
}

.element-dropdown:hover .dropdown-list {
	display: block;
	padding: 0 1.5rem;
	transform: translateY(0) translateX(-50%);
	border-radius: 9px;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(30px);
	z-index: 3;
	animation: dropdown 0.3s forwards;
}

.dropdown-list::after {
	content: "";
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 15px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(30px);
}

.logo {
	display: block;
	width: 172px;
}

.header__nav__search {
	position: relative;
}

.header__nav__search-input {
	width: 477px;
	height: 49px;
	padding-left: 2rem;
	border: 1px solid var(--border-color);
	border-radius: 9px;
	font-size: 2rem;
	background-color: transparent;
}

.header__nav__search-input:focus {
	outline: none;
	box-shadow: 0 0 10px -3px var(--border-color);
}

.header__nav__search-input::placeholder {
	color: #000;
}

.search-button {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.header__nav__search-icon {
	display: block;
	width: 3rem;
}

/* HEADER CONTENT */
/* CENTER CONTENT */

.header__content {
	display: flex;
	justify-content: space-between;
}

.header__center {
	position: absolute;
	top: 183px;
	left: 418px;
	width: 1084px;
	height: 1084px;
	display: flex;
	justify-content: space-between;
}

.header__center-bg {
	top: 50%;
	left: 50%;
	width: 1084px;
	height: 1084px;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.header__center__img {
	position: relative;
}

.header__center__img-photo {
	display: block;
	position: absolute;
	top: 80px;
	left: -100px;
	transform: rotate(19deg) scale(1.8);
	width: 806px;
	z-index: 2;
}

.header__center__content {
	display: flex;
	flex-direction: column;
	width: 575px;
	margin-top: 113px;
	z-index: 1;
}

.header__center__heading {
	font-size: 8rem;
	font-family: "GilroyExtraBold";
}

.header__center__link {
	position: relative;
	width: 386px;
	margin: 40px auto 0 auto;
	font-size: 4.5rem;
	font-family: "GilroyExtraBold";
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
}

.header__center__link-first::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 314px;
	height: 4px;
	background-color: #fff;
	opacity: 0;
	transition: opacity 0.3s;
}
.header__center__link-first:hover::after {
	opacity: 1;
}

/* BUTTONS HEADER */

.header__button--left,
.header__button--right {
	top: 380px;
}

.header__button--left {
	left: -20px;
}

.header__button--right {
	right: -20px;
}

/* LEFT CONTENT IN HEADER*/

.header__left-heading {
	margin-top: 145px;
	font-size: 3.3rem;
	font-family: GilroyExtraBold, sans-serif;
	text-transform: uppercase;
}

.header__left-text {
	position: relative;
	font-size: 3.3rem;
	font-family: Gilroy, sans-serif;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	background-color: var(--backgound-color);
	z-index: 2;
}

.header__left__socials-list {
	margin-top: 3.3rem;
}

.header__left__social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	margin: 1rem 0;
	background-color: #000;
	border-radius: 50%;
	text-decoration: none;
}

.header__left__social-icon {
	font-size: 2.7rem;
	color: var(--backgound-color);
}

/* RIGHT CONTENT IN HEADER */

.header__right-heading {
	margin-top: 181px;
	margin-bottom: 52px;
	font-size: 4.5rem;
	font-family: GilroyExtraBold, sans-serif;
	text-transform: uppercase;
}

.header__right__flag-link {
	display: block;
	margin: 1.5rem 0 1.5rem auto;
	width: 45px;
	height: 30px;
	background-image: url("./img/ukraine.png");
}

.flag-link--active {
	position: relative;
}

.header__right__flag-link:nth-of-type(2) {
	background-image: url("./img/union-jack.png");
}

.header__right__flag-link:nth-of-type(3) {
	background-image: url("./img/poland.png");
}

.flag-link--active::after {
	content: "";
	width: 40px;
	height: 2px;
	position: absolute;
	top: 120%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
}

/* MAIN */
.main {
	display: flex;
	gap: 200px;
	margin-top: -780px;
}

/* ASIDE */
.main__aside {
	position: relative;
	width: 390px;
}

.aside__heading {
	position: relative;
	font-size: 3rem;
	text-transform: uppercase;
	font-family: "GilroyExtraBold", serif;
}

.aside__heading::after {
	content: "";
	position: absolute;
	top: 110%;
	left: -130px;
	height: 5px;
	width: 530px;
	background-color: #000;
}

.main__aside__list {
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.main__aside__list__element {
	margin: 16px 0;
}

.main__aside__list__link {
	font-size: 2rem;
	font-family: GilroyLight, sans-serif;
	text-decoration: none;
	color: #000;
}

/* SIGNS IN ASIDE */
.main__sings .sign__icon {
	width: 193px;
}

.main__aside__signs-top {
	top: -325px;
	left: -400px;
}

.main__aside__signs-mid {
	top: 1255px;
	left: -0;
}

.main__aside__signs-mid .subtraction {
	grid-column: 3/4;
	grid-row: 3/4;
}

.main__aside__signs-mid .multiplication {
	grid-column: 3/4;
	grid-row: 1/2;
	transform: rotate(180deg);
}

.main__aside__signs-mid .divide {
	grid-column: 1/2;
	grid-row: 1/2;
}

.main__aside__signs-bottom {
	bottom: 0;
	left: -245px;
}

/* CIRCLES IN ASIDE */

.main__aside__circle-black {
	left: -325px;
	top: 1480px;
}

.main__aside__circle-blue-bg {
	left: -70px;
	top: 1720px;
	width: 492px;
	height: 492px;
	z-index: -1;
}

/* MAIN CONTENT */
/* PROMOTIONS */

.main__content {
	position: relative;
	width: 810px;
	z-index: 1;
}

.main__heading {
	margin-top: 1rem;
	margin-bottom: 4.5rem;
	font-size: 4.5rem;
	font-family: GilroyExtraBold, sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.main__content__promotions-box {
	position: relative;
	display: flex;
	justify-content: space-between;
}

/* PRODUCTS */
.main__content__products-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 5.2rem;
}

/* BUTTONS CARDS CHANGE */
.main__content__promotions-btn--right,
.main__content__promotions-btn--left {
	top: 50%;
	transform: translateY(-50%);
}

.main__content__promotions-btn--left {
	left: -13%;
}

.main__content__promotions-btn--right {
	right: -13%;
}

.main__content__products {
	margin-top: 5rem;
}

/* CARDS */
.card {
	position: relative;
	display: block;
	width: 240px;
	height: 331px;
	padding: 2.8rem;
	background-color: #fff;
	border-radius: 9px;
	color: #000;
	font-family: GilroyExtraBold, sans-serif;
	text-decoration: none;
	box-shadow: 0px 0px 10px #00000021;
	cursor: pointer;
}

.card__heading {
	max-width: 150px;
	margin: 0 auto;
	font-size: 2rem;
	text-align: center;
}

.card__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card__price {
	position: absolute;
	right: -23px;
	bottom: 23px;
	width: 100px;
	height: 100px;
	padding: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 2rem;
	text-align: center;
	background-color: var(--main-color);
	border-radius: 50%;
}

.card__icon {
	position: absolute;
	bottom: -23px;
	right: -40px;
}

/* SIGNS IN MAIN */
/* TOP RIGHT IN MAIN */

.main__content__signs--top-right {
	top: 290px;
	right: -480px;
}

/* MID RIGHT IN MAIN */
.main__content__signs--mid-right {
	top: 1550px;
	right: -490px;
}

.main__content__signs--mid-right .sum {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}
.main__content__signs--mid-right .divide {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

/* CIRCLES IN MAIN */

.main__content__circle-black {
	width: 374px;
	height: 374px;
	top: 1140px;
	right: -230px;
}

/* CONTACT */
.section__contact {
	margin-top: -25px;
}

.section__heading {
	position: relative;
	font-size: 4.5rem;
	font-family: GilroyExtraBoldrif, sans-serif;
	text-transform: uppercase;
}

.section__heading::after {
	content: "";
	position: absolute;
	top: 100%;
	left: -127px;
	width: 1413px;
	height: 5px;
	background-color: #000;
	z-index: 1;
}

.section__contact__map {
	position: relative;
	display: flex;
	margin-top: 5px;
}

.section__contact__logo-esc {
	position: absolute;
	width: 218px;
	height: 218px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.71);
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
}

.section__contact__logo-esc-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* CONTACT DATA */

.section__contact__data {
	display: flex;
	justify-content: space-between;
	margin: 2rem auto 0 auto;
}

.section__contact__list {
	font-family: GilroyLight, sans-serif;
}
.section__contact__list-item {
	position: relative;
	font-size: 2rem;
	margin: 0 0 3rem 6rem;
}

.section__contact__list-item:before {
	position: absolute;
	top: 50%;
	left: -60px;
	transform: translateY(-50%);
	width: 45px;
}

.section__contact__list-item:nth-child(1):before {
	content: url("/img/and.png");
}
.section__contact__list-item:nth-child(2):before {
	content: url("/img/amg.png");
}
.section__contact__list-item:nth-child(3):before {
	content: url("/img/ana.png");
}

.section__contact__phone {
	display: block;
	text-decoration: none;
	color: #000;
}

.section__contact__open-time {
	font-size: 1.5rem;
}

.section__contact__list--right {
	text-align: right;
}
.section__contact__list--right .section__contact__list-item:before {
	left: auto;
	right: -60px;
}

.section__contact__list--right .section__contact__list-item {
	position: relative;
	font-size: 2rem;
	margin: 0 6rem 3rem 0;
}

.section__contact__circle-black {
	width: 368px;
	height: 368px;
	top: -185px;
	right: -110px;
	z-index: -1;
}

/* ANIMATIONS */

@keyframes dropdown {
	from {
		display: none;
		opacity: 0;

		transform: translateY(-50px) translateX(-50%) scaleY(0);
	}

	to {
		display: block;
		opacity: 1;
		transform: translateY(0) translateX(-50%) scaleY(1);
	}
}

@keyframes dropdownRev {
	from {
		display: block;
		opacity: 1;

		transform: translateY(0) translateX(-50%) scaleY(1);
	}
	to {
		display: none;
		opacity: 0;
		transform: translateY(-50px) translateX(-50%) scaleY(0);
	}
}
